@import url("https://fonts.googleapis.com/css2?family=Public Sans:wght@100..900&display=swap");

:root {
  --foreground-rgb: 71, 84, 103;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ck-border-radius: 6px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {
  padding: 0 !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
#app {
  height: 100vh;
  width: 100vw;
}
@layer utilities {

  .text-balance {
    text-wrap: balance;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

}

.form_submit {
  .container > div:first-child {
    padding: 10px 36px 0 36px;
  }

  box-shadow: 0px 1px 2px 0px #0a0d120d;

  footer {
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 16px !important;
  }
}
.form_approval {
  .container > div:first-child {
    padding: 10px 36px 0 36px;
  }

  box-shadow: 0px 1px 2px 0px #0a0d120d;

  footer {
    padding-left: 0;
    padding-right: 0;
    margin-top: 16px !important;
  }
}
.application {
  .container > div:first-child {
    padding: 24px 0 0;
  }
  .section_box__title {
    padding: 16px 36px;
  }
  .section_box__content {
    padding: 0 36px;
  }
 
  footer {
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 16px !important;
  }
}

.bg-primary{
  background: #42307D
}
.border-primary{
  background: #42307D
}
.form_title{
  font-size: 30px;
}
.font_desc{
  font-size: 14px;
}

.logo{
  width: 100px;
  height: auto;
}
.auth-bg {
  background-image: url("/auth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191c36;
}